* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: myFont;
  src: url(../font/GreatVibes-Regular.ttf);
}
@font-face {
  font-family: newFont;
  src: url(../font/Muli-Light.ttf);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

html,
body {
  width: 100vw;
   font-family: newFont;
   width: 100vw;
  margin: 0 auto;
  scroll-behavior: smooth;
   display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

/* /////////////////////////////  navigationigation  //////////////////////////////// */
#navigation {
  background-color: #e8ccb5;
  box-shadow: 1px 1px 8px rgba(58, 40, 45, 0.519);
  z-index: 1000;
  height: 5rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#navigation li {
  margin-right: 15%;
}
#navigation a {
  color: black;
  font-size: 1.1rem;
 }
#navigation a:hover {
  color: #988270;
}

.nameTitle {
  font-size: 4rem;
  font-family: "Great Vibes", cursive;
  color: #988270;
  /* margin-top: 1rem; */
}

.hamburger-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  /* gap:2rem; */
}

 
#hamnav {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2000;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5rem;
  font-size: 2rem;
  color: #988270;
  background-color: #e8ccb5;
   width: 100vw;
  height: 9vh;
}

#hamitems {
  display: none;
}

#hamitems.show {
  display: block;
}

#hamitems ul {
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
  width: 50vw;
  background-color: #fdf8fd;

 }

#hamitems ul li {
  margin: 0 1rem;
   font-size: 1rem;
 }

#hamitems ul li a {
  text-decoration: none;
  color: #988270;  
}

#hamitems ul li a:hover {
  color: #e8ccb5;  
}

/* /////////////////////////////  main  //////////////////////////////// */
 
main {
  background-color: #fdf8fd;
  display: flex;
  flex-direction: column;
}
#main {
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;

 }
 
#main img {
  width: 75%;
}
#p {
  background-color: #fdf8fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7% 3%;
  width: 25%;
  font-size: large;
  /* box-shadow: 1px 1px 8px rgba(58, 40, 45, 0.519); */
  color: #988270;
  font-style: italic;
  animation: slide-in 1s ease-in;
}

@keyframes slide-in {
  from {
    transform: translatex(-100%);
    opacity: 0;
  }
  to {
    transform: translatex(0);
    opacity: 1;
  }
}

.mainBtn {
  background-color: #e8ccb5;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4%;
  margin-top: 7%;
  border-radius: 10px;
}
.mainBtn a {
  color: black;
}
.mainBtn:hover {
  background-color: #988270;
}

/* //////////////////////////// ABOUT/////////////////// */
#about {
  background-color: #fdf8fd;
 
  background-color: #fdf8fd;
  z-index: -1;
  display: flex;
  flex-direction: column;
}
.about {
   display: flex;
  width: 75%;
  letter-spacing: 0.03rem;
  line-height: 1.5rem;
}
#aboutImg {
  position: fixed;
  top: 0;
  right: -5%;
  z-index: -1;
  height: 100%;
  animation: fade-in 2s ease-out forwards;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#text {
  background-color: #fdf8fd;

  padding: 2% 5%;
  width: 85%;
  /* z-index: 1000; */
}
@keyframes slide-up {
  from {
    transform: translatey(-100%);
    opacity: 0;
  }
  to {
    transform: translatey(0);
    opacity: 1;
  }
}

h2 {
  margin: 5vh 0;
  color: #988270;
  font-style: italic;
  animation: slide-up 2s ease-in-out;
}
h3,
h4,
.p {
  margin: 3vh 0;
}
/* /////////////////////////////////// MEDIA /////////////////////////////////////// */
#media {
  background-color: #fdf8fd;
}
#images,
#videos {
  margin: 0 auto;
  width: 100vw;
  padding: 0 10%;
  animation: slide-in 2s ease-out;
}

.videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  grid-auto-flow: row;
  overflow: auto;
  justify-items: center;
}

.video-item iframe {
  width: 40vw;
  aspect-ratio: 16 / 9;
}

/* /////////////////////////////  CONTACT  //////////////////////////////// */

#contact {
  align-self: center;
  color: #e8ccb5;
  box-shadow: 1px 1px 8px rgba(58, 40, 45, 0.519);
  background-color: #192024;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  /* gap:1rem; */
  padding: 2rem 5rem;
  margin: 1rem 0;
}
#contactMe {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
#socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
  margin-top: 1rem;
}
#socials a {
  color: #e8ccb5;
}
#socials i {
  font-size: 2rem;
}
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.text {
  /* width: 25rem;
  height: 3rem; */
  width: 30vw;
  height: 7vh;
  background: transparent;
  outline: none;
  padding-left: 1rem;
  font-size: 1.2rem;
  background-color:  #fdf8fd;
}

.error {
  display: none;
  color: red;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#form textarea {
  font-size: 1.2rem;
  /* width: 25rem; */
  width: 30vw;
  height: 30vh;
  /* height: 10rem; */
  padding-left: 1rem;
  padding-top: 1rem;
  background-color:  #fdf8fd;

}

#form ::placeholder {
  color: #988270;
  font-family: monospace;
  font-size: 1.1rem;
}

#submit {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  font-family: monospace;
  font-size: 1.1rem;
  width: 30%;
  color: black;
  height: 7vh;
  /* border-radius: 25px; */
  margin-top: 1rem;
  background-color:  #fdf8fd;

}
#submit:hover {
  background-color: #e8ccb5;
}

footer {
  padding: 0 auto;
  position: relative;
  bottom: 0;
  height: 5vh;
  width: 100vw;
  background-color: #e8ccb5;
  /* margin-top: 1rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 1px 1px 8px rgba(58, 40, 45, 0.519); */
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: newFont;
}
